<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3コラ編集画面</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header>
    <h1 class="login">3columnツール</h1>
    <a href="/top" class="form">一覧に戻る</a>
    <a href="/login" class="form">ログアウト</a>
  </header>
  <div class="column-container">
    <ul class="table-body">
      <% memo.forEach((memo)=> { %>
        <li>
          <div class="item-all">
            <div class="situation">
              <div class="item-data">
                <div class="main_name">
                  <label for="message">①具体的場面</label>
                </div>
                <div class="top-data">
                  <label for="title">(登録日時)</label>
                </div>
                <span class="register-time" id="date-time" name="created_at">
                  <%= memo.created_at %>
                </span>
                <input type="hidden" name="created_at" value="<%= memo.created_at %>">
                <div class="top-data">
                  <label for="title">(タイトル)</label>
                </div>
                <textarea name="title" id="title" class="text_title" rows="2" cols="25"><%=memo.title%></textarea>
                <div class="top-data">
                  <label for="title">(いつ)</label>
                </div>
                <input class="text_title_date" id="datePicker" name="date" type="date" value="<%=date %>">
              </div>
              <div class="top-data">
                <label for="title">(どこで)</label>
              </div>
              <textarea name="place" id="where" class="text_title" rows="2" cols="25"><%=memo.place%></textarea>
              <div class="top-data">
                <label for="title">(誰と)</label>
              </div>
              <textarea name="who" id="who" class="text_title" rows="2" cols="25"><%=memo.who%></textarea>
              <div class="top-data">
                <label for="title">(どんな状況)</label>
              </div>
              <textarea name="content" id="content" class="text_content" rows="2" cols="25"><%=memo.content%></textarea>
            </div>

            <div class="main_name">
              <label for="message">②気分・感情とその強度(％)</label>
              <a href="" class="feel_express" id="feel_express">気分・感情の表現一覧(思い浮かばない人向け)</a>
            </div>
            <%for(let i=0;i< 5;i++){ %>
              <div class="row">
                <textarea name="memo_feeling" id="feeling<%=i+1%>" class="text_title_feel" placeholder="気分・感情を入力してください"
                  rows="2" cols="25"><%= feel[i]?.feeling || '' %></textarea>
                <% let feeling_per_default=(feel[i]?.feelingPer ||0)+"%" %>
                  <select id="feeling_per" class="per_edit" name="memo_feeling_per">
                    <% for (let j=0; j <=100; j++) { %>
                      <option value="<%= j + '%' %>" <% if (j + '%'===feeling_per_default) { %>
                        selected
                        <% } %>>
                          <%= j + '%' %>
                      </option>
                      <% } %>
                  </select>
              </div>
              <% } %>
                <div class="main_name">
                  <label for="message">③認知(考え・イメージ)とその確信度(％)</label>
                </div>
                <% for(let i=0;i< 5;i++){ %>
                  <div class="row">
                    <textarea name="memo_autothink" id="autothink<%=i+1%>" placeholder="自動思考を入力してください"
                      class="text_title_feel" rows="2" cols="25"><%=autothink[i]?.autoThink || ''%></textarea>

                    <% let autothink_per_default=(autothink[i]?.autoThinkPer ||0)+"%"; %>
                      <select id="autothink_per" class="per_edit" name="memo_autothink_per">
                        <% for (let j=0; j <=100; j++) { %>
                          <option value="<%= j + '%' %>" <% if (j + '%'===autothink_per_default) { %>
                            selected
                            <% } %>>
                              <%= j + '%' %>
                          </option>
                          <% } %>
                            </option>
                      </select>
                  </div>
                  <% } %>
                    <div class="main_name">
                      <label for="message">④身体的反応</label>
                    </div>
                    <textarea name="physical" id="physical" class="text_response" rows="4"
                      cols="25"><%=memo.physical%></textarea>

                    <div class="main_name">
                      <label for="message">⑤実際どうしたか</label>
                    </div>
                    <textarea name="action_content" id="action" class="text_response" rows="4"
                      cols="50"><%=memo.action%></textarea>
                    <div class="main_name">
                      <label for="message">⑥気づき</label>
                    </div>
                    <textarea name="realize" id="notion" class="text_content" rows="4"
                      cols="50"><%=memo.realize%></textarea>
                    <div class="button_container">
                      <input type="hidden" id="memoid" value="<%= memo.id %>">
                      <button type="button" id="update_button" class="button_update">更新</button>
                      <button type="button" id="delete_button" class="button_delete">削除</button>
                    </div>
          </div>
  </div>
  </li>
  <% }) %>
    </ul>
    </div>
    <script type="module" src="/js/pages/memo.js"></script>
</body>

</html>