<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>トップ画面</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header>
    <a href="/new_form" class="form">新規３coumn登録</a>
    <h1 class="login">3columnツール</h1>
    <a href="/login" class="form">ログアウト</a>
  </header>

  <% if (typeof error!=='undefined' ) { %>
    <script>
      alert("編集画面を取得できませんでした")
    </script>
    <% } %>

      <div class="search">
        <input type="text" id="search" name="search" class="search_title" placeholder="タイトルを入力してください(部分一致検索可能)">
        <input type="hidden" name="userid" id="userid" value="<%= userid %>">
        <button type="click" class="button_search" id="search_button">検索</button>
        <button type="click" class="button_search_release" name="release" value="true"
          id="release_button">検索を解除</button>
      </div>
      <div class="sort">
        <button type="button" id="sort_button">年月で絞り込む</button>
        <button type="button" id="sort_release">絞り込みを解除</button>
        <% if(filter!==undefined){ %>
          <input type="hidden" id="filter" value="<%=filter%>">
          <%}%>
      </div>
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close-btn" id="close-btn">&times;</span>
          <h4>年と月を選択</h4>

          <select id="year" name="year">
          </select>

          <select id="month" name="month">
            <option value="none">なし</option>
          </select>

          <button type="button" id="submit-btn">検索</button>
        </div>
      </div>
      <ul class="table-body">
        <% Object.keys(date).forEach((dateKey)=> { %>
          <!-- 日付ごとの見出し -->
          <li class="date-header">
            <p>
              <%= dateKey %>
            </p>
          </li>
          <div class="slider-container">
            <button class="prev-btn" type="button" id="prevbtn">◀</button>
            <button class="next-btn" type="button" id="nextbtn">▶</button>
            <div class="slide-wrapper">
              <div class="test" id="slide">
                <% date[dateKey].forEach((memo)=> { %>
                  <!-- 各メモの表示 -->
                  <li class="slide-items">
                    <div class="item-container" onclick="location.href='/memo/<%= memo.id %>'">
                      <div class="top-data-title">
                        <%= memo.title %>
                          <% if(memo.name!==undefined){%>
                            <input type="hidden" value="<%=memo.name%>" id="rel">
                            <%} %>
                      </div>
                    </div>
                  </li>
                  <% }); %>
              </div>
            </div>
          </div>
          <% }); %>
      </ul>
      <div id="pagination" class="pagination"></div>
      <% if (typeof current!=='undefined' ) { %>
        <input type="hidden" id="current" value="<%=current%>">
        <%}%>
          <% if (typeof total!=='undefined' ) { %>
            <input type="hidden" id="total" value="<%=total%>">
            <%}%>
              <script type="module" src="/js/pages/top.js"></script>
</body>

</html>